name : "Deploy project"

on :
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: node:20
    permissions:
      contents: write
    steps:
      - uses : actions/checkout@v6
        with:
          node-version : 20
          token: ${{ secrets.PAT }}
          fetch-depth: 0

      - name: Setup SSH
        run: |
          eval "$(ssh-agent -s)"
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/key
          chmod 600 ~/.ssh/key
          ssh-add ~/.ssh/key
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name : switch to prod
        run : |
          git fetch origin test || true
          git switch test
          git rm -rf . || true

      - name: Copy to prod
        run : |
          mkdir -p temp_copy
          cp -r dist/ temp_copy/
          cp package.prod.json temp_copy/
          mv temp_copy/package.prod.json temp_copy/package.json
          



