name : "Deploy project"

on :
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: node:20
    permissions:
      contents: write
    steps:
      - uses : actions/checkout@v6
        with:
          node-version : 20
          token: ${{ secrets.PAT }}
          fetch-depth: 0
        env:
          GITHUB_TOKEN : ${{secrets.PAT}}

      - name : Get RSYNC
        run : apt install rsync

      - name: git CONFIG
        run: |
          git config --global user.name "action"
          git config --global user.email "e@nomail.com" 
          git config --global --add safe.directory /__w/Aoba/Aoba

      - name : Fetch prod
        run : |
          git fetch --all

      - name: Switch to prod
        run : |
          mkdir temp_copy
          cp -r dist/ temp_copy/
          cp package.prod.json temp_copy/
          cp config.json temp_copy/
          git switch test

      - name : Trying
        run : |
          git rm -r --cached .
          rm -r dist/ || true
          rm -r node_modules/ || true
          rm *.json || true
          rm *.md || true
          rsync -av ./tempCopy/ ./
          git add .
          git commit -m "Sync main"
          git push -f
          
          




