name : "Deploy project"

on :
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: node:20
    steps:
      - uses : actions/checkout@v4
        with:
          node-version : 20
          token: ${{ secrets.PAT }}

      - name : Config GIT
        run : | 
          git switch prod
          ls
      - name : Add github.com to known_hosts
        run : |
          chmod u+x deploy.sh
          ./deploy.sh "$token2"
      - name : Installing PNPM
        run : npm i -g pnpm
      - name : Installing dependencies
        run : pnpm i --frozen-lockfile
      - name : Running deploy.sh
        run : |
          chmod u+x deploy.sh
          ./deploy.sh

