name : "Deploy project"

on :
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: node:20
    steps:
      - uses : actions/checkout@v4
        with:
          node-version : 20
      - name : Installing dependencies
        run : npm ci
      - name : Running updateProd.js
        run : |
          ./updateProd.sh

