name : "Deploy project"

on :
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: node:20
    permissions:
      contents: write
    steps:
      - uses : actions/checkout@v6
        with:
          node-version : 20
          token: ${{ secrets.PAT }}

      - name : Logging Git
        run : |
          git config user.name "${{ secrets.LOGIN }}"
          git config user.email "${{ secrets.ID }}+${{ secrets.LOGIN }}@users.noreply.github.com"
          git switch prod
      - name : Installing PNPM
        run : npm i -g pnpm

      - name : Installing dependencies
        run : pnpm i --frozen-lockfile



